<h1>Listing game_data</h1>

<table>
  <thead>
    <tr>
      <th>Money1</th>
      <th>Money2</th>
      <th>Money3</th>
      <th>Money4</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_data.each do |game_datum| %>
      <tr>
        <td><%= game_datum.money1 %></td>
        <td><%= game_datum.money2 %></td>
        <td><%= game_datum.money3 %></td>
        <td><%= game_datum.money4 %></td>
        <td><%= link_to 'Show', game_datum %></td>
        <td><%= link_to 'Edit', edit_game_datum_path(game_datum) %></td>
        <td><%= link_to 'Destroy', game_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game datum', new_game_datum_path %>
