<%= simple_form_for(@paperclip_image  , html: { :multipart => true })  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-group">
	  <%= f.label :picture %>
	  <%= f.file_field :picture , html: {class: 'form-control'} %>
    <% if f.object.picture? %>
      <br/>
      <%= image_tag(f.object.picture.url(:thumb)) %> <br/>
      <em>Currently uploaded image</em>
      <br/>
    <% end %>
  </div>



  <div class="form-actions">
    <%= f.button :submit, 'Save' , class: "btn btn-primary" %>
  </div>
<% end %>
