<!DOCTYPE html>
<html>
<head>
  <title>BlogWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<a href="#" class="navbar-brand">Nate blog</a>
			<nav class="nav navbar-nav">
				<li><%= link_to "All Statuses", statuses_path %></li>
				<li><%= link_to "All Statuses", statuses_path %></li>
			</nav>
		</div>
	</nav>


	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
