<%= simple_form_for(@game_info) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :info %>
    <%= f.input :name1 %>
    <%= f.input :name2 %>
    <%= f.input :name3 %>
    <%= f.input :name4 %>
    <%= f.input :base_pay %>
    <%= f.input :acc_pay %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
