<h1>Listing game_infos</h1>

<table>
  <thead>
    <tr>
      <th>Info</th>
      <th>Name1</th>
      <th>Name2</th>
      <th>Name3</th>
      <th>Name4</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_infos.each do |game_info| %>
      <tr>
        <td><%= game_info.info %></td>
        <td><%= game_info.name1 %></td>
        <td><%= game_info.name2 %></td>
        <td><%= game_info.name3 %></td>
        <td><%= game_info.name4 %></td>
        <td><%= link_to 'Show', game_info %></td>
        <td><%= link_to 'Edit', edit_game_info_path(game_info) %></td>
        <td><%= link_to 'Destroy', game_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game info', new_game_info_path %>
