<p id="notice"><%= notice %></p>

<p class="gameInfo" data-acc="<%= @game_info.acc_pay %>"  data-base="<%= @game_info.base_pay %>"  >
  <strong>Game Info:<%= @game_info.info %> </strong>
  <button class="gameInfoBtn" > 詳細資料 </button>
  <p class="payInfo"></p>
</p>

<table class="table">
  <thead>
    <tr>
      <td></td>
      <td><%= @game_info.name1 %></td>
      <td><%= @game_info.name2 %></td>
      <td><%= @game_info.name3 %></td>
      <td><%= @game_info.name4 %></td>
    </tr> 
  </thead>
  <tbody>
    <% counter = 0 %>
    <% sumArray = [0,0,0,0] %>
    <% sumMoneyArray = [0,0,0,0] %>
    
    <% @game_info.game_datum.each do |datum| %>
        <% counter += 1 %>
        <% curArray = [datum.money1,datum.money2,datum.money3,datum.money4] %>
        <% curMoneyArray = @game_info.getComputeGameMoney(curArray) %>
        <tr>
          <td>Round<%= counter %></td>
          <% (0..3).each do |i| %>
            <td><%= curArray[i].to_s + "台:" + curMoneyArray[i].to_s %></td>
          <% end %>
        </tr> 

        <% (0..3).each do |i| %>
          <% sumMoneyArray[i] += curMoneyArray[i] %>
        <% end %>
    <% end %>

    <tr>
      <td>Balance </td>
      <td><%= sumMoneyArray[0] %></td>
      <td><%= sumMoneyArray[1] %></td>
      <td><%= sumMoneyArray[2] %></td>
      <td><%= sumMoneyArray[3] %></td>
    </tr> 
  </tbody>
</table>

  <div id="form">
    <%= render :partial => "game_data/form", :locals => {:game_datum => GameDatum.new, :game_info_id => @game_info.id } %>
  </div>
<%= link_to 'Edit Game Info', edit_game_info_path(@game_info) , class: "btn btn-default"  %>
<%= link_to 'Back', game_infos_path , class: "btn btn-default" %>
